body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 231, 231);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
label{
  font-size: 25px;
}
input{
  margin-left: 3%;
  color: rgb(10, 10, 10);
  font-size: 17px;
}
div img {
  border-radius: 30px;
}
#submitId{
  width: 20%;
  border-radius: 10px;
  background-color: burlywood;
  margin-top: 5%;
  font-size: 20;
}
